@media(max-width:576px) {
  .icon{
       flex-direction: column;
       text-align: center;
  }     

  .play{
    position: absolute !important;
    left: 85px !important;
  }

  .play-2{
    position: absolute;
    left: 140px;
  }
    
}

@media(min-width:768px) {
       
   }


@media(min-width:992px) {
  .icon{
    flex-direction: row;
    text-align: left;
  }
}


@media(min-width:1200px) {

}
@media(min-width:1400px) {

}