*{
    font-family: 'Jost';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul li:last-child {
    border-color: #5758e0 !important;
    
}

nav ul li:last-child:hover{
    background-image: linear-gradient(to right, blue, rgb(13, 167, 218));
    color: white;
}

nav ul li a:hover{
    color: rgb(50, 181, 233) !important;
}

#last-list a:hover{
    color: white !important;
}

.carousel-item{
    background: url(/IMG/banner-img.jpg),rgb(0, 0, 0,0.8);
    background-size: cover;
    background-position: center;
    height: 600px;
    background-blend-mode: color-burn;
    position: relative;
}

.container-content{
    padding: 130px;
    background-image: linear-gradient(to left, #55b4d4, currentColor);
    background-clip: text;
    color: transparent;
    color:  #3b7dda;

}

.carousel-item a{
    background-color: #1c67df;
    color: white;
}

.carousel-control-prev{
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    position: absolute !important;
    top: 270px !important;
    left: 5% !important;
    background-color: #5758e0 !important;
    color: #55b4d4 !important;
    
}

.carousel-control-next{
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    position: absolute !important;
    top: 270px !important;
    right:5% !important;
    background-color: #5758e0 !important;
    color: #55b4d4 !important;
}

.container-content a:hover{
    background-image: linear-gradient(to right, blue, rgb(13, 167, 218));
    color: white;
}



.services{
    padding: 120px;

}


.services .col-4:first-child .services-item a::before{
    position: absolute;
    top: -20px;
    left:-20px;
    background-image: linear-gradient(to right,blue,lightblue);
    content: '';
    width: 80%;
    height: 60%;
    z-index: -1;
}
.services .col-4:last-child .services-item a::before{
    position: absolute;
    right: -20px;
    bottom: -20px;
    background-image: linear-gradient(to right,blue,lightblue);
    content: '';
    width: 80%;
    height: 60%;
    z-index: -1;
}


.services-item:hover{
    background-image: linear-gradient(to right,blue,lightblue);
    color: white;
}

.services-item:hover a .mycard{
    color: white !important;
}

.about-content span{
   width: 50px;
   height: 5px;
   display: inline-block;
   background:  linear-gradient(to right,blue,lightblue) !important;
}


.abilites-txt{
    width: 50px;
    height: 5px;
    display: inline-block;
    background:  linear-gradient(to right,blue,lightblue) !important;
}


/* abilites */

.abilities {
    background-color: rgb(17, 17, 17);
  }
  
  .content-txt span  {
    width: 50px;
    height: 5px;
    background-image: linear-gradient(to right, #5758e0, lightseagreen) !important;
  }
  
  .list-1 i {
    background-image: linear-gradient(to right, #5758e0, lightseagreen);
    background-clip: text;
    color: transparent;
  }